[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

webpy-master = {git = "git://github.com/webpy/webpy.git", editable = true}
pylint = "*"


[dev-packages]

